@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

:root {
	--primary-color: #5E007F;
	--white-color: #f8f8f8;
	--text-gray: #6f6f6f;
	--bg-gray: #e0e0e0;
  --dark-purple: #1E052B;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	background-color: var(--white-color);
	font-family: 'Montserrat', sans-serif;
}

ul li{
    list-style: none;;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}
.center{
  padding: 1rem 10%;
}

/**********
NAV
***********/

.header {
	display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav-items{
	display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  cursor: pointer;
}

.nav-item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--primary-color);
  text-align: center;
}

.logo {
  width: clamp(6rem, 100%, 8.25rem);
}

/**********
HOME
***********/

.home {
	display: flex;
  align-items: center;
  justify-content: start;
  min-height: 90vh;
  overflow: hidden;
}

.home .left-content{
  min-width: 50%;
}

h1 {
  color: var(--primary-color);
  font-weight: 800;
  font-size: clamp(4rem, 3rem + 2vw, 6rem);
  line-height: 5.5rem;
  margin-bottom: 1.5rem;
  max-width: 12ch;
}

.home p{
  color: var(--text-gray);
  font-size: 1.25rem;
  max-width: 37ch;
}

.home .right-content{
  min-width: 60vw;
}

.mockup{
  position: relative;
  left: 5rem;
  width: 100%
}

/**********
CARDS
***********/
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  gap: 5rem;
}

.card{
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 2rem 1.5rem ;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
  width: clamp(15rem, 100%, 17rem);
  aspect-ratio: 3/4;
}

.card-title{
  font-size: 1.5rem;
}

.card-description{
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.5rem;
}

/*********** 
MIDDLE SECTION
************/

.middle-section{
  display: flex;
  align-items: center;
  
}
.middle-section .left-content{

}

.middle-section .right-content{

}

.middle-section h2{
  color: var(--primary-color);
  font-size: 3rem;
  font-weight: 800;
}

.middle-sections p{
  color: var(--text-gray);
  font-size: 1.25rem;
}
.illustration{
  width: 100%;
}
/**********
SERVICES
***********/

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    color: var(--text-gray);
    padding: 3.125rem;
}

.services h2{
  color: var(--primary-color);
}

/**********
CONTATO
***********/
.contact{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-gray);
  width: 60%;
  margin: 12.5rem 0;
  position: relative;
}

.contact-items{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3.75rem;
}

.contact-item{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.contact h2{
  color: var(--primary-color);
  font-size: 2.75rem;
  padding: 3.75rem 0 1.5rem;
}

.contact h3{
  color: var(--text-gray);
}

.contact .right-content{
  position: absolute;
  right: -30rem;
  top: -3.75rem;
}

/**********
ABOUT-US
***********/
.about-us {
    background-color: var(--bg-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-gray);
}

.about-us h2{
  color: var(--primary-color);
  font-size: 2.75rem;
  padding: 3rem 0;
}

.about-us p{
  color: var(--text-gray);
  padding-bottom: 2rem;
  font-size: 1.125rem;
  text-align: center;
  line-height: 2rem;
}


/**********
FOOTER
***********/

footer{

  background-color: var(--dark-purple);
}